profiles {
         awsbatch {
               aws {
                region = 'us-west-2'
                    batch {
                        cliPath = '/home/ec2-user/miniconda/bin/aws'
                           jobRole = ''
                           volumes = ['/docker_scratch:/tmp:rw']
                           }
                   }
        	   process.executor = 'awsbatch'
        	   process.queue = 'cpu-spot-50'
        	   docker.enabled = true
        	   process.cpus = 4
        	   process.memory = 40.GB
        	   }
        hpc {
            process {

                executor = 'slurm'
                clusterOptions = '--constraint=x10sle'

            withLabel: 'small' {
                cpus = 4
                time = '12h'
		queue='campus'

            }
            withLabel: 'medium' {

                cpus = 4
                time = '16h'
		queue='campus'


            }
            withLabel: 'large' {

	        cpus = 4
                time = '20h'
		queue='campus'



            }
            }
		    docker.enabled = false
                    singularity.enabled = true
                    singularity.autoMounts = true
		    singularity.runOptions = '-B /run'
        }
			    
	local {
            process {
		    cpus = '4'
		    module = 'Singularity/3.5.3'
		    }
		    
		    docker.enabled = false
                    singularity.enabled = true
                    singularity.autoMounts = true
		    singularity.runOptions = '-B /run'


	}

}



